<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.foobar" version="1.0.0" android-versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Game demo</name>
    <description>
        Game demo
    </description>
    <author email="your@email.com" href="http://your-website.com">
        Christian Zommerfelds
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Fullscreen" value="true" />
    <icon src="../res/icon.png" />
</widget>
